<div class="site-section gradient-bg-1" id="about-section">
  <div class="container">
    <div class="row justify-content-center mb-4 block-img-video-1-wrap">
      <div class="col-8 mb-5">
        <figure class="block-img-video-1" data-aos="fade">
          <a href="https://vimeo.com/45830194" class="popup-vimeo">
            <span class="icon"><span class="icon-play"></span></span>
            <img src="assets/images/img-video-1.jpg" alt="Image" class="img-fluid">
          </a>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="8">0</span>+</span>
              <span class="caption">Year of Experience</span>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="15">0</span>+</span>
              <span class="caption">Expert Doctors</span>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="320">0</span>+</span>
              <span class="caption">Health Sections</span>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="1500">0</span>+</span>
              <span class="caption">Happy Smiles</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
