
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap"  id="home-section">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

<app-header></app-header>

<app-home></app-home>

<app-dental-services></app-dental-services>

<app-about-us></app-about-us>

<app-doctor></app-doctor>

<app-testimonial></app-testimonial>

<app-blog></app-blog>

<app-contact-us></app-contact-us>
<app-scroll-to-the-top></app-scroll-to-the-top>
<app-footer></app-footer>

</div>
</body>
