<div class="site-section" id="team-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="block-heading-1">
          <span>Expert Doctors</span>
          <h2>Meet Our Team</h2>
        </div>
      </div>
    </div>
    <div class="doctor row">
      <div class=" col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
        <div class=" block-team-member-1 text-center rounded">
          <figure>
            <img src="assets/images/blerant.jpg" alt="Image" class="img-fluid rounded-circle">
          </figure>
          <h3 class="font-size-20 text-black">Dr.Blerand Limka</h3>
          <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Doctor</span>
          <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta. Repellendus vero, consequuntur!</p>
          <div class="block-social-1">
            <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-facebook"></span></a>
            <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-twitter"></span></a>
            <a href="#" class="btn border-w-2 rounded primary-primary-outline--hover"><span class="icon-instagram"></span></a>
          </div>
        </div>
      </div>

      <!--        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">-->
      <!--          <div class="block-team-member-1 text-center rounded">-->
      <!--            <figure>-->
      <!--              <img src="assets/images/doc_person_2.jpg" alt="Image" class="img-fluid rounded-circle">-->
      <!--            </figure>-->
      <!--            <h3 class="font-size-20 text-black">Jean Smith</h3>-->
      <!--            <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Doctor</span>-->
      <!--            <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quia veritatis, nam quam obcaecati fuga.</p>-->
      <!--            <div class="block-social-1">-->
      <!--              <a href="#" class="btn border-w-2 rounded primary-primary-outline&#45;&#45;hover"><span class="icon-facebook"></span></a>-->
      <!--              <a href="#" class="btn border-w-2 rounded primary-primary-outline&#45;&#45;hover"><span class="icon-twitter"></span></a>-->
      <!--              <a href="#" class="btn border-w-2 rounded primary-primary-outline&#45;&#45;hover"><span class="icon-instagram"></span></a>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->

      <!--        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">-->
      <!--          <div class="block-team-member-1 text-center rounded">-->
      <!--            <figure>-->
      <!--              <img src="assets/images/doc_person_3.jpg" alt="Image" class="img-fluid rounded-circle">-->
      <!--            </figure>-->
      <!--            <h3 class="font-size-20 text-black">Ricky Fisher</h3>-->
      <!--            <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Dentist</span>-->
      <!--            <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quidem, laudantium, illum minus numquam voluptas?</p>-->
      <!--            <div class="block-social-1">-->
      <!--              <a href="#" class="btn border-w-2 rounded primary-primary-outline&#45;&#45;hover"><span class="icon-facebook"></span></a>-->
      <!--              <a href="#" class="btn border-w-2 rounded primary-primary-outline&#45;&#45;hover"><span class="icon-twitter"></span></a>-->
      <!--              <a href="#" class="btn border-w-2 rounded primary-primary-outline&#45;&#45;hover"><span class="icon-instagram"></span></a>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
    </div>
  </div>
</div>
