<div class="site-section block-feature-1-wrap" id="services-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="block-heading-1">
          <span>All Kind Of Services</span>
          <h2>Dental Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
        <div class="block-feature-1">
              <span class="icon">
                <span class="flaticon-dentist"></span>
              </span>
          <h2 class="text-black">Tooth Extraction</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up" data-aos-delay="100">
        <div class="block-feature-1">
              <span class="icon">
                <span class="flaticon-dental-care"></span>
              </span>
          <h2 class="text-black">Tooth Fillings</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up" data-aos-delay="200">
        <div class="block-feature-1">
              <span class="icon">
                <span class="flaticon-dental-1"></span>
              </span>
          <h2 class="text-black">Braces Install</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
        <div class="block-feature-1">
              <span class="icon">
                <span class="flaticon-baby"></span>
              </span>
          <h2 class="text-black">Children Clinic</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up" data-aos-delay="100">
        <div class="block-feature-1">
              <span class="icon">
                <span class="flaticon-tooth"></span>
              </span>
          <h2 class="text-black">Tooth Cleaning</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up" data-aos-delay="200">
        <div class="block-feature-1">
              <span class="icon">
                <span class="flaticon-dental"></span>
              </span>
          <h2 class="text-black">Patient Records</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
        </div>
      </div>
    </div>
  </div>
</div>
